<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276935658291-h6161snda9r0d714ju33a6h6oubor23q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276935658291-h6161snda9r0d714ju33a6h6oubor23q</string>
	<key>API_KEY</key>
	<string>AIzaSyDiLjuqjbf9kzdYwfsTvxi2ifR6VvcgYqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>276935658291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kit.cs.ailab.syonKim.se-iOS-client</string>
	<key>PROJECT_ID</key>
	<string>se-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>se-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:276935658291:ios:f6f2d7befa722eca9d0c46</string>
	<key>DATABASE_URL</key>
	<string>https://se-notification-default-rtdb.firebaseio.com</string>
</dict>
</plist>
